/* ActionCar.module.css */
.carouselContainer {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* Hide scrollbar for IE & Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  justify-content: space-between;
}

.carouselContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}

.carouselItem {
  flex-shrink: 0;
  scroll-snap-align: start;
  margin: 0 5px;
}

/** Image **/
.imageFrame { @apply w-full h-[200px] md:h-[220px] overflow-hidden rounded-md }
.imageItem { @apply object-cover w-full h-full hover:scale-110 duration-200 ease-in-out cursor-pointer hover:brightness-75 }

/* Responsive widths */
@media (min-width: 1024px) { /* Large screens */
  .carouselItem { width: calc(100vw / 11 - 23px); }
}

@media (min-width: 768px ) and (max-width: 1023px) { /* Medium screens */
  .carouselItem { width: calc(100vw / 6 - 5px); }
}

@media (max-width: 767px) { /* Small screens */
  .carouselItem { width: calc(100vw / 4 + 20px); }
}

